.table-container{
}

.choosing-box{
}

table{
    border-spacing: 5px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    height: 100vh;
    overflow:auto;
}

table, th, td{
    border: 1px solid black;
}

th, tr, td{
    text-align: center;
    padding: 3px;
}

h2{
    text-align: center;
}

p, .button{
    margin-left: 5%;
}

.button{
    margin-bottom: 20px;
}

tr:nth-child(even) {background-color: #f2f2f2;}