.wrap-container{
    display: flex;
    align-items: stretch;
    justify-content:space-around;  
}

.sm-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.big-container{
    flex-grow: 1;
}

.tool-box{
    flex-grow: 1;
}

.tool{
    position: fixed; 
    top: 200;
    right: 0;
    padding-right: 1%;
}